.projectsBlock {
    min-height: 100vh;
    background-color: rosybrown;
}
.projectsContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    background-color: #838f7e;

}
.projects {
    width: 100%;
    background-color: #3f636e;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}