@import "../../common/styles/sass/mixins";

.projectsBlock {
  /*min-height: 100vh;*/
  .projectsContainer {
    @include container();
    @include flex(column, center, center, wrap);
    padding: 70px 0;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

}

