.workItem {
    width: 50%;
    height: 382px;
    /*width: 280px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 71px;

    .imageContainer {
        width: 80%;
        height: 85%;
        /*width: 200px;*/
        /*height: 200px;*/
        /*background-color: #ef9bc8;*/
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 7px rgba(0,0,0,.2);
        border: 15px solid #fff;
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }

        //a {
        //    text-decoration: none;
        //    color: #222;
        //    transition: color 0.4s ease-out;
        //    font-family: 'Open Sans',sans-serif;
        //    font-size: 15px;
        //    line-height: 28px;
        //    font-weight: 400;
        //
        //}
    }
}


//.imageContainer a:hover {
//    color: #f4c956;
//}