.container {
    width: 80%;
    height: 100%;
    /*border: 1px solid;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
}

.title {
    color: #222;
    font-size: 33px;
    line-height: 1.15em;
    font-weight: 700;
    font-family: Montserrat,serif;

}
.itemTitle {
    color: #222;
    font-size: 18px;
    line-height: 1.5555555555555555555555555555556em;
    font-weight: 700;
    font-family: Montserrat,serif;
}
.description {
    color: #757575;
    font-size: 15px;
    line-height: 1.8666666666666666666666666666667em;
    font-weight: 400;
    font-style: italic;
    font-family: 'Open Sans',sans-serif
}
.button {
    border: none;
    background-color: inherit;
    color: #222;
    font-family: Montserrat,serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.4s ease-out;
}
.button:hover {
    color: #f4c956;
}