@import "../styles/sass/variables";
@import "../styles/sass/mixins";

.container {
    width: 80%;
    height: 100%;
    /*border: 1px solid;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
}


.itemTitle {
    @include text($textColor, 18px, 1.5em, 700, $titleFontFamily);
}
.description {
    @include text($descriptionColor, 15px, 1.8em, 400, $textFontFamily);
    font-style: italic;
}
