@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.mainBlock {
    height: 100vh;
    display: flex;
    .mainContainer {
        justify-content: space-around;
        align-items: center;
        .text {
            width: 300px;
            .aboutMeText {
                @include text(grey, 15px, 28px, 400, $textFontFamily)
            }
        }
        .photo {
            background-color: #afa7a7;
            width: 300px;
            height: 400px;
        }
    }
}


