.mainBlock {
    height: 100vh;
    background-color: #f1afd0;
    display: flex;


}
.mainContainer {
    justify-content: space-around;
    align-items: center;
}
.text {
    background-color: #c9bebe;
    width: 300px;
}
.photo {
    background-color: #afa7a7;
    width: 300px;
    height: 400px;
}