.skillsBlock {
    min-height: 100vh;

    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /*min-height: inherit;*/
        .skills {
            display: flex;
            /*background-color: lavender;*/
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            /*align-items: flex-start;*/
            @media (max-width: 624px) {
                justify-content: center;
            }
        }
    }
}




