@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.button {
  @include text($textColor, 18px, 1.55em, 700, $titleFontFamily);
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: color 0.4s ease-out;
  position: relative;
  z-index: 1;

  &:hover {
    color: $textColorHover;
  }
}
