@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.nav {
    //border: 1px solid;
    width: 320px;
    display: flex;
    justify-content: space-between;
    a {
        @include text($textColor, 15px, 28px, 700, $textFontFamily);
        text-decoration: none;
        transition: color 0.4s ease-out;
        &:hover {
            color: $textColorHover;
        }
    }
}

