.nav {
    border: 1px solid;
    width: 320px;
    display: flex;
    justify-content: space-between;


}

.nav a {
    text-decoration: none;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    transition: color 0.4s ease-out;
}

.nav a:hover {
    color: #f4c956;
}