@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.footerBlock {
  .footerContainer {
    @include container();
    @include flex(column, space-around, center, wrap);
    padding: 80px 0 70px;
    //height: 100%;
    background-color: #2a2a2a;
    .title {
      color: grey;
      margin-bottom: 44px;
      margin-top: 0px;
    }
    .socialNetworks {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      //padding-bottom: 15px;
      .imgItem {
        width: 60px;
        height: 60px;
        margin: 20px 25px 10px 0px;
        color: rgb(150, 150, 150);
        font-size: 20px;
        cursor: pointer;
        transition: color .4s ease-out;
        &:hover {
          color: $textColorHover;
        }
      }
    }

    .description {
      margin-top: 49px;
      margin-bottom: 0px;
      color: #f4c956;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      //margin-top: 49px;
    }
  }
}







