.footerBlock {
    background-color: #838f7e;
}
.footerContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100% ;
}
.title {
    background-color: #c9bebe;
}
.socialNetworks {
    background-color: #af8097;
    display: flex;
    /*width: 300px;*/
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.imgItem {
    width: 60px;
    height: 60px;
    background-color: #c9bebe;
    margin-left: 15px;
    margin-right: 15px;
}